
/* Page Sidebar */
.sidebar-custom {
  position: fixed;
  left: 60px;
  top: 50%;
  transform: translateY(-50%);
  height: 340px;
  width: 80px;
  background:#5a6c37;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  border-radius: 40px;
}
.sidebar-custom nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.sidebar-custom nav ul li:hover {
  opacity: 0.7;
}

